body {
    padding-top: 60px;
    transition: background-color 0.9s;
}

.light-mode {
    /*background: linear-gradient(120deg, #f6f6f6, #e9e9e9);*/
    background-color: rgb(236, 236, 236);
    color: #333;
}

.dark-mode {
    /*background: linear-gradient(120deg, black, #555);*/
    background-color: #111;
    color: #fff;
}

.app-container {
    padding: 30px;
}
.app-card {
    margin-bottom: 30px;
}

.light-mode .card{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s,background-color 0.4s;
}

.light-mode .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .card {
    background-color: #333;
    border: none;
    transition: transform 0.3s,background-color 0.4s;
}

.dark-mode .card.user{
    border: solid 3px #333;
}

.dark-mode .card-body {
    color: #fff;
}
.light-mode .card-body {
    color: #333;
}
.card.user .card-body {
    padding: 6px;
}

.card-author{
    color: #fa1675;
}

.dark-mode .card:hover {
    transform: translateY(-10px);
}

.act-menu{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    z-index: 1000;
}

.left-menu {
    left: -150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
}

.act-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
    transition: color 0.3s; 
}

.act-menu a:hover {
    color: #9dd41a;
}

.right-menu {
    right: -150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: right 0.5s ease-in-out;
}

.act-menu a.active{
    color: #fa1675;
}

.title-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title h1 {
    margin: 0;
    font-size: 2em;
}

.title-icon{
    transition: fill 0.9s;
}
.dark-mode .title-icon{
    fill:white;
}

.light-mode .title-icon{
    fill:#333;
}

.btn-store{
    font: 0.8em sans-serif;
}

.info-icon {
    position: absolute;
    color: #fa1675;
    cursor: pointer;
    transition: color 0.3s;
}

.info-icon.detail{
    top: 10px;
    right: 10px;
}

.info-icon.rate{
    top: 10px;
    right: 30px;
}

.info-icon:hover {
    color: #9dd41a;
}

.subtitle {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-style: italic;
    color: #fa1675;
}
footer {
    padding: 20px;
    text-align: center;
    
}

.dark-mode footer{
    color: #fff;
}

.light-mode footer{
    color: #333;
}

footer a {
    color: #fa1675;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #9dd41a;
    text-decoration: none;
}

.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.review .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .content {
    flex: 1;
    text-align: left;
}

.review .content .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.review .content .user-info .name {
    font-weight: bold;
    margin-right: 10px;
}

.review .content .user-info .date {
    font-size: 0.85rem;
    color: #999;
}

.review .content .rating {
    margin-bottom: 5px;
}

.review .content .comment {
    font-size: 1rem;
    color: #333;
}

.btn-store:hover{
    background-color: #fa1675;
    color: #111;
}

.btn-swal{
    background-color: #fa1675 !important;
    color: #fff;
}

.btn-swal:hover{
    background-color: #9dd41a !important;
    color: #111;
}

.item-swal:hover{
    background-color: #fa1675 !important;
    color: #fff;
}

.fa-mars{
    color: rgb(0, 162, 255);
}

.fa-venus{
    color: #fa1675;
}